/*BUTTON STYLING*/
button{
    border:0;
    background: rgba(0, 0, 0, 0.9);
    margin: auto;
    margin-top: 2.5%;
    width:100%;
    padding: 15px;
    display: block;
    text-transform: uppercase;
    color:#fff;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background: rgba(178, 129, 129, 0.89);
}

.add-booking-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 105%;
    padding-bottom: 35px;
}

.add-time-buttons,.cancel-button {
    width: 150px;
    display: inline-block;
}

.cancel-button {
    margin-left: 2.5%;
    background: rgba(134, 134, 134, 0.9);
}
