* {
    box-sizing: border-box;
    font-family: 'open sans';
    margin:0;
    padding:0;
    transition: 0.3s;
}

#map {
    width: 100%;
    height: 300px;
    display: inline-block;
    background-color: grey;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 10px;
}

#booking-info > div > a.cancel {
    position: absolute;
    right: 0;
    text-decoration: underline;
}

body,html,div,p,a,h1,h2,h3,input,label,a{
    padding: 0;
    margin:0;
    color:#444444;
}

a {
    text-decoration: none;
    color:#444444;
    text-align: center;
    font-weight: 400;
}

ul {
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

li {
    cursor: pointer;
    list-style-type: none;
}

textarea:focus, input:focus{
    outline: none;
}

h1,h2,h3,h4,a.category-link {
    text-align: center;
    font-family: 'Alegreya Sans';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.menu-bg, .background {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right:0;
    left: 0;
    top:90px;
    bottom:0;
    width: 100%;
    height: 100%;
    display: none;
    transition: 0.5s;
    z-index: 500;
}

/*HEADER*/
header {
    width: 95%;
    margin:auto;
    background: rgba(255, 255, 255, 0.94);
    margin-left: 2.5%;
    position: fixed;
    line-height: 90px;
    height: 90px;
    top:0;
    z-index: 1000;
    text-align: center;
}

#logo{
    width: 100px;
    padding-top: 20px;
}

body > header > p.menu > img {
    width: 35px;
}

body > header > p.close-menu {
    display: none;
    font-size: 2.5em;
}

body > header > p {
    position: absolute;
    top:0;
    cursor: pointer;
    font-family: 'open sans';
    right: 0;
}

header .icon-box {
    position: absolute;
    top:0;
    left:0;
    min-width: 200px;
    text-align: left;
}

body > header > div > a:nth-child(4){
    font-size: 0.5em;
    min-width: 100px;
}

nav {
    z-index: 1000;
    background-color:#fff;
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    top:90px;
    text-transform: uppercase;
    text-align: center;
    display: none;
}

nav ul {
    margin-top:15%;
}

nav ul li {
    font-size: 1.5em;
    transition: 0.5s;
    line-height: 60px;
    font-family: 'Josefin Sans';
}

.weight {
    font-weight: 300;
}

nav ul li strong{
    text-decoration: underline;
}

nav ul li:hover,nav ul li strong:hover {
    text-decoration: underline;
    text-decoration-color: #cc8686;
}

#page-title{
    margin-bottom:5%;
    font-size: 1.5em;
    color: #444444;
}
/*HEADER*/

/*MAIN*/
main {
    margin-top:120px;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 1000px;
}

#container .user-page {
    text-align: center;
}

.person-div {
    height: 25px;
    width: 95%;
    border-bottom: 0.5px solid #ccc;
    margin-bottom: 5%;
    position: relative;
}

#booking-info > .person-div > li {
    display: inline-block;
}

.person-div > .small-img {
    width:0;
    height:0;
}

.person-div > .small-img, .person-div strong, .person-div div{
    position: static;
    display: inline-block;
}

a.page-link {
    color: #6998bb;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-bottom: 2.5%;
}

#booking-info > .person-div > li > strong{
    margin-right: 20px;
}

#thanks-page > #booking-info {
    background-color: #f7f6f6;
    margin: auto;
    display: block;
    height: 300px;
}

#select {
    display: block;
    margin:0 0 50px 0;
    width: 100%;
    height: 30px;
    border:0.5px solid #ccc;
}

.user-page > .user-icons{
    text-align: center;
    margin-top:50px;
    margin-bottom:5%;
}

.user-page > .user-icons > div{
    display: inline-block;
    text-align: left;
    font-size: 1.2em;
    padding:1.5%;
    width: 100%;
    margin: .1%;
    background-color:#f7f6f6;
    transition: 0.5s;
    color: #444444;
    cursor: pointer;
}

.user_info {
    border:0.5px solid #ccc;
    margin : auto;
    padding:2.5%;
    margin-top: 2.5%;
}

.icon-pencil {
    cursor: pointer;
    margin-bottom: 10px;
}

.user_info ul li {
    margin:2.5%;
}

.user-icons p {
    display: inline-block;
    margin-left: 2%;
    font-size: 0.7em;
}

#user-menu > div > div.user-icons > div:hover {
    background-color: #e6d5d5 !important;
}

.person-list {
    padding: 1.5%;
    width: 85%;
    margin: auto;
    background-color: #f1f1f1;
    margin-top: 0.5%;
}

main div.category-box{
    width: 100%;
    line-height: 500px;
    background-size: cover;
    cursor: pointer;
}

a.category-link {
    display: block;
    font-family: 'Alegreya Sans';
    font-weight: 100;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    color:#fff;
    text-transform: uppercase;
    font-size: 1.5em;
}


a.category-link:hover {
    background-color: rgba(143, 124, 124, 0.78);
}

main div.white-box {
    background-size: cover;
}

main div.grey-box {
    background-color: #f7f6f6;
}

.bookings {
    width: 100%;
    background-color:#f7f6f6;
    padding-right: 2.5%;
    height: 120px;
    position: relative;
    margin-top:.5%;
    z-index: 0;
    cursor: pointer;
    transition: 0.5s;
}

.bookings:hover {
    background-color: #e6d5d5;
}

.small-img {
    position: absolute;
    width: 120px;
    background-color: #ccc;
    height: 120px;
    background-size: cover;
    background-position: center;
}

.text-box {
    float: right;
    text-align: left;
    padding-top:5%;
}

.booking-img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.booking {
    width: 100%;
    height: 200px;
    border:0.5px solid #ccc;
    margin-top:5%;
    margin-bottom: 5%;
    padding:2.5%;
    position: relative;
    text-align: left;
}

.booking h2 {
    text-align: left;
}
.time-label {
    width: 200px;
    display: inline-block;
    height: 100px;
    background-color: #f7f6f6;
}

#user-info > p {
    text-align: center;
}

#user-info > p > a {
    color: #6998bb;
    text-decoration: underline;
}

.booking-info-company-view {
    margin: auto;
    display: block;
    width: 80%;
}

.booking-info {
    cursor: default;
    width:100%;
    margin:0;
    margin-top:10%;
}

.booking-info ul li {
    background-color: #f7f6f6;
    text-align: left;
    width: 100%;
    line-height: 50px;
    padding-left: 2.5%;
}

.date-time-div {
    padding:2.5%;
    margin-top:2.5%;
}

.time-inputs {
    display: inline-block;
    width: 50%;
    padding:.5%;
    margin: auto;
}

.date-time-div input {
    background-color: transparent;
}

#addbooking_form {
    text-align: center;
    position: relative;
}

.add-date-time {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 450px;
    width: 70%;
    padding: 2.5%;
}

#capacity {
    display: inline-block;
    width: 50px;
    border: 1px solid #ccc;
    margin-top: 2.5%;
    padding:10px;
}

#plus, #minus {
    cursor: pointer;
}

.plus {
    float: right;
    margin-top: -3%;
    font-weight: 300;
    cursor: pointer;
}

#img {
    max-width: 50%;
    display: block;
    max-height: 200px;
}

#info strong {
    float: left;
    width: 30%;
    font-size: 0.9em;
}

/*FORM*/

form {
    margin: auto;
    margin-top: 5%;
}

input {
    border:0;
    border-bottom:0.5px solid #ccc;
    width:100%;
    display: block;
    margin: auto;
    margin-bottom:5%;
    transition: 0.5s;
}

input:focus {
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

input[type="file"] {
    border:0;
    margin-top:2%;
}

#select {
    margin-top:2%;
}

label {
    display: block;
    text-align: left;
}

.fail-message {
    color:#d46c6c;
    font-weight: bold;
    margin-top: 2.5%;
    text-align: center;
}

#login > p, #register_form > p {
    margin-bottom:5%;
}

.register_link, .login_link {
    color: #6998bb;
    text-decoration: underline;
}

#booking-form {
    width:95%;
    padding:0;
    text-align: left;
}
/*MAIN*/


@media only screen and (min-width: 770px) {

    #page-title {
        font-size: 3em;
    }

    nav {
        position: fixed;
        top:150px;
        bottom:50px;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        min-height: 10em;
        width: 70%;
        overflow-y: scroll;
    }

    nav ul {
        margin-top:2.5%;
    }

    main div.category-box {
        width: 50%;
        display: inline-block;
        line-height: 700px;
    }

    a.category-link {
        font-size: 3em;
    }

    a.category-link:hover {
        background-color: rgba(143, 124, 124, 0.78);
        line-height: 700px;
    }

    header .icon-box a {
        margin-left: 2.5%;
    }

    body > header > div > a:nth-child(4){
        font-size: 0.6em;
    }

    #thanks-page > #booking-info {
        width: 70%;
    }

    .text-box {
        height: 120px;
        max-width: 250px;
        margin: auto;
        padding-top:3.5%;
        text-align: center;
        float: none;
    }

    .booking-info {
        margin-top:2.5%;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        height: 500px;
    }

    .booking-info ul li {
        width: 95%;
    }

    #map {
        height: 500px;
        width: 98%;
    }

    .user-page > .user-icons > div {
        text-align: center;
        font-size: 1.2em;
        height: 100px;
        padding: 0;
        padding-top: 15px;
        width: 21%;
        vertical-align: top;
        min-width: 170px;
    }

    .user-icons p {
        display: block;
        margin-left: 0;
    }

    form, #select, .user_info {
        width: 85%;
        margin: 10px auto;
    }

    form > select, .date-time-div> select{
        width: 100% !important;
    }

    .booking-info-company-view {
        margin: auto;
        display: block;
        width: 80%;
    }

}
